/* *************************************************************************** */
/*                                                                             */
/*   XXXVIII PhD Course on Big Data & AI @ Mercatorum University               */
/*                                                                             */
/*   By: vstile <vittoriostile@gmail.com>                                      */
/*   Link-in-bio page: https://linktr.ee/vstile                                */
/*                                                                             */
/*   Created: 2025/02/17 by vstile                                             */
/*   Updated: 2025/02/17 by vstile                                             */
/*                                                                             */
/* *************************************************************************** */

Guide: Installing Dependencies from requirements.txt  

1. Navigate to the Directory  
Use the cd command to navigate to the directory where the requirements.txt file is located. For example:  

cd /path/to/your/project  

2. Install Libraries from requirements.txt  
Run the following command to install all the libraries listed in the requirements.txt file:  

pip install -r requirements.txt  

This command will read the requirements.txt file and install all the specified libraries along with their respective versions.  

3. Complete Example  
Here is a complete example of how to execute these steps:  

Step 1: Create the requirements.txt File (If Not Already Available)  
If the requirements.txt file does not exist, you can generate it by running:  

pip freeze > requirements.txt  

This will create a file listing all currently installed dependencies in your Python environment.  

Step 2: Open the Terminal and Navigate to the Directory  
Use the cd command to move to the directory where requirements.txt is located:  

cd /path/to/your/project  

Step 3: Install the Libraries  
Run the following command:  

pip install -r requirements.txt  

4. Verify the Installation  
You can verify that all libraries have been installed correctly by running the following command:  

pip list  

This will display a list of all installed libraries along with their versions, allowing you to confirm that everything has been installed correctly.